#oiListType, #aiListType{
	font-size: $text-font * 1.4;
	letter-spacing:2px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font:{
              size: $hex-font-size * 1.4;
            }
  font-weight: 600;
  line-height:2em;

  a{
   // color : #002960;
    cursor:pointer;
  }

  a:hover{
    cursor: default;
    cursor:pointer;
  }

 span{
    //color : #002960;
    color: #337ab7;
    font:{
              size: $sub-header-font*1.1 !important;
              family: 'Raleway', sans-serif;
              weight: normal;
          }
  }

}

  .inductionHeader{
          font:{
              size: $sub-header-font*1.4 !important;
              family: 'Raleway', sans-serif;
              weight:500;
          }
          margin:0;
          color : #002960 !important;
      }

      hr {
          border:0;
          border-top:1px solid $base-color-six;
          width:100%;
          margin: ($hex-font-size) auto;
          color : #002960;
      }
			.previewIcon{
				display:inline;
			}
@media screen and (min-width: 100px) and (max-width:700px) {

.spaceLine{
  position: relative;
  top: 2em;
}
}
